<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application>
        <activity android:name="com.music.orb.data.update.BetaInstallActivity" android:exported="false" android:excludeFromRecents="true"/>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.orb-updates.files" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/orb_update_paths"/>
        </provider>
    </application>
</manifest>